# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
.metadata/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## build files and bins
.build_Debug/
.build_Release/
bin/

## ignore KDE files
.directory

.metadata

app_hokuyo_pbs/.cproject

module_hokuyo_pbs/.cproject

module_uart_rx/.cproject

module_uart_tx/.cproject

sc_pwm/.cproject

*.prefs

sc_pwm/.settings/org.eclipse.cdt.core.prefs

sc_sncn_ethercat/.cproject

sc_sncn_motorctrl_sin/.cproject

sc_somanet-base/.cproject

symove/.cproject

symove/.settings/org.eclipse.cdt.core.prefs
